---
name: CI
on:
  pull_request: {}
  push:
    branches:
      - main
concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
jobs:
  lint-filenames:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Validating .yaml file extension on all workflow files
        run: |
          invalid_files=$(find ./.github/workflows -type f ! -name "*.yaml")
          if [ -n "$invalid_files" ]; then
            echo "::error::The following files do NOT have the .yaml extension:"
            echo "$invalid_files"
            exit 1
          fi
