---
name: Delete Obsolete GHCR Images

on:
  workflow_call:
    inputs:
      image-names:
        type: string
        required: true
        description: |
          The names of the container images to delete old versions for.
          Takes one or several container image names as a comma separated list, and supports wildcards.
      cut-off:
        type: string
        default: A week ago UTC
        description: The timezone-aware datetime you want to delete container versions that are older than.
    secrets:
      PAT:
        required: true
        description: |
          You need to pass a (classic) personal access token (PAT) with access to the container registry.
          Specifically, you need to grant it the following scopes: read:packages and delete:packages.

jobs:
  clean-ghcr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Delete untagged container images according to cut-off
        uses: snok/container-retention-policy@04c70fd030033036d69c0057e0d125bf25820544 # v2.1.2
        with:
          image-names: ${{ inputs.image-names }}
          cut-off: ${{ inputs.cut-off }}
          account-type: org
          org-name: statnett
          untagged-only: true
          # FIXME: Remove requirement for classic PAT when available
          # See https://github.com/snok/container-retention-policy/issues/27
          token: ${{ secrets.PAT }}
